
<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
    
    <h2 class="mb-2 text-md text-center">{{ berryCheck.count }}</h2>
  
    <button
      class="border py-2 px-4 rounded"
      [ngClass]="{
        'bg-yellow-400': !details,
        'bg-blue-400': details
      }"
      (click)="details = !details"
    >
      {{ details ? 'Hide' : 'Show' }} Details
    </button>
  
    <div *ngIf="details">
      <p>{{ berryCheck.next}}</p>
      <p>Rate: <span [ngStyle]="{fontWeight: 'bold'}">
        {{ berryCheck.previous | number:'1.2-4' }}
      </span></p>
    </div>
</div> 